
@media(min-width:768px){
  .container-1{
    align-items: flex-start;
    display:flex;
  }
}

.container-1{
  flex-wrap:wrap
}

:host {
  display: inline-block;
}

.items, .top, :host {
  width: 100%;
  height: 100%;
}

.items {
  font-size: 16pt;
  overflow: auto;
  padding: 5px;
}

.panel-ele{
  color: black;
  font-size: 16px;
}

.panel-ef{
  color: black;
  font-size: 16px;
}

.container-1 div{
  border:1px rgba(64, 73, 202, 0.781) solid;
  padding:3px;
}

