<!--
  © 2018 Synergistic Manufacturing Solutions inc All Rights Reserved. 
  This software was designed and developed by Synergistic Manufacturing Solutions inc 
  for the purpose of the purpose of the OSI Soft Hackathon of 2018. 
-->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div>
    <div>
        <span (click)="HideShow()" class="hideshow">
            <span *ngIf="isShow">&#9660;</span>
            <span *ngIf="!isShow">&#9654;</span>
            Custom Panel
        </span>
    </div>
    <div *ngIf="isShow">
        <div class="panel-ele">
            <div>Element/Event Frames</div>
            <div class="panel-ele">
                <div>
                    Databases :<br/>
                    <select (change)="SelectDatabase($event.target.value)">
                        <option value="" disabled selected>>Select a Database</option>
                        <option *ngFor="let item of lst_database" [value]="item.WebId">{{item.Name}}</option>
                    </select>
                </div>
                <div>
                    Elements :<br/>
                    <select (change)="SelectElement($event.target.value)">
                        <option value="" disabled selected>>Select an Element</option>
                        <option *ngFor="let item of elementsTOshow" [value]="item.WebId">{{item.Name}}</option>
                    </select>
                </div>
                <div>
                    Event frames templates : <br/>
                    <select (change)="SelectEFType($event.target.value)">
                        <option value="" disabled selected>>Select an Event Frame Type</option>
                        <option *ngIf="!elementcategory; else IsElementCategory"></option>
                        <ng-template #IsElementCategory>
                            <option *ngFor="let item of elementcategory.analysesTemplateEventType" [value]="item.WebId">{{item.Name}}</option>
                        </ng-template>
                    </select><br/>
                    <button class="button-submit" (click)="Add()"><i class="fa fa-plus fa-2" aria-hidden="true"></i></button>
                </div>
                <br/><br/>
                <div>
                    Selected Element / Event Frame Type :<br/>
                    <table>
                        <thead>
                            <th>Element </th>
                            <th>Event </th>
                            <th>Color </th>
                            <th>Master</th>
                        </thead>
                        <tr *ngFor="let item of selectedELEF; let i = index" (click)="SelectEFELRow(item)" [class.selected-row-panelconfig]="selectedelefRow && selectedelefRow.element.WebId===item.element.WebId && selectedelefRow.ef.WebId===item.ef.WebId">
                            <td>{{item.element.Name}}</td>
                            <td>{{item.ef.Name}}</td>
                            <td><input type="color" name="favcolor{{i}}" [value]="item.Color" [(ngModel)]="item.Color"></td>
                            <td><input type="checkbox" [(ngModel)]="item.master" (change)="NewMaster(item)"/></td>
                        </tr>
                    </table>
                    <div class="button-submit">
                        <button (click)="GoUp()"><i class="fa fa-arrow-circle-up fa-2" aria-hidden="true"></i></button>
                        <button (click)="GoDown()"><i class="fa fa-arrow-circle-down fa-2" aria-hidden="true"></i></button>
                        <button (click)="Delete()"><i class="fa fa-trash fa-2" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <div>
            <div class="panel-at">
                <div>Attribute Visible</div>
                <div class="panel-at" *ngIf="listOfAttributeCategory || AttributeofselectedELEF">
                    <div *ngIf="listOfAttributeCategory.length">
                        Attribute Categories: <br/>
                        <table>
                            <thead>
                                <th>Categorie</th>
                                <th>Select</th>
                            </thead>
                            <tr *ngFor="let item of listOfAttributeCategory">
                                <td>{{item.name}}</td>
                                <td><input type="checkbox" [(ngModel)]="item.select" /></td>
                            </tr>
                        </table>
                    </div>
                    <div *ngIf="!listOfAttributeCategory.length">
                        No Attribute Categories for the selected Element/EventFrame!
                    </div>
                    <br/>
                    <div *ngIf="AttributeofselectedELEF.length">
                        Attributes For e/ef :<br/>
                        <table>
                            <thead>
                                <th>Attibutes </th>
                                <th>Position</th>
                            </thead>
                            <tr *ngFor="let item of AttributeofselectedELEF">
                                <td>{{item.Name}}</td>
                                <td><input type="number" min="0" max="6" [(ngModel)]="item.position" [value]="item.position" (change)="PositionAttribute(item)" (focus)="item.oldposition=item.position;"/></td>
                            </tr>
                        </table>
                    </div>
                    <div *ngIf="!AttributeofselectedELEF.length">
                            No Attribute for the selected Element/EventFrame!
                    </div>
                </div>
                <div *ngIf="!(listOfAttributeCategory || AttributeofselectedELEF)">
                    No Element/EventFrame selected!
                </div>
            </div>
        </div>
        <br/>
        <button class="button-submit" (click)="SubmitConf()">Submit</button>
    </div>
</div>