<div>
    <div>
        <span (click)="HideShow()" class="hideshow">
            <span *ngIf="isShow">&#9660;</span>
            <span *ngIf="!isShow">&#9654;</span>
            Custom Panel
        </span>
    </div>
    <div *ngIf="isShow">
        <div class="panel-ele">
            <div>Element/Event Frames</div>
            <div class="panel-ele">
                <div>
                Elements :<br/>
                <select (change)="SelectElement($event.target.value)">
                    <option value="" disabled selected>>select an element</option>
                    <option *ngFor="let item of elementsTOshow" [value]="item.WebId">{{item.Name}}</option>
                </select>
                </div>
                <br/><br/>
                <div>
                Event frames templates : <br/>
                <select (change)="SelectEFType($event.target.value)">
                    <option value="" disabled selected>>select an Event Frame template</option>
                    <option *ngIf="!elementcategory; else IsElementCategory"></option>
                    <ng-template #IsElementCategory>
                        <option *ngFor="let item of elementcategory.analysesTemplateEventType" [value]="item.WebId">{{item.Name}}</option>
                    </ng-template>
                </select><br/>
                <button (click)="Add()">Add</button>
                </div>
                <br/><br/>
                <div>
                Selected elements/ef :<br/>
                <table>
                    <thead>
                        <th>Element </th>
                        <th>Event </th>
                        <th>Master</th>
                    </thead>
                    <tr *ngFor="let item of selectedELEF" (click)="SelectEFELRow(item)">
                        <td>{{item.element.Name}}</td>
                        <td>{{item.ef.Name}}</td>
                        <td><input type="checkbox" [(ngModel)]="item.master" (change)="NewMaster(item)"/></td>
                    </tr>
                </table>
                <div>
                    <button (click)="GoUp()">Up</button>
                    <button (click)="GoDown()">Down</button>
                    <button (click)="Delete()">Del</button>
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
    <div>
        <div class="panel-at">
            <div>Attribute Visible</div>
            <div class="panel-at">
                <div>
                    Attributes For e/ef :<br/>
                    <table>
                        <thead>
                            <th>Attibutes </th>
                            <th>Position</th>
                        </thead>
                        <tr *ngFor="let item of AttributeofselectedELEF">
                            <td>{{item.Name}}</td>
                            <td><input type="text" [value]="item.position"/></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>