<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div>
    <table class="fixed">
      <tr>
        <td>{{element_ef}}</td>
        <td [attr.colspan]="eventFrames.length">
          <span (click)="ActivateStar()" class="origin-star">
              <span *ngIf="isStarActivate"><i class="fa fa-star fa-3"></i></span>
              <span *ngIf="!isStarActivate"><i class="fa fa-star-o fa-3"></i></span>
          </span>
          <button (click)="GoBefore()"><i class="fa fa-arrow-left fa-2" aria-hidden="true"></i></button>
          Move by 3 events
          <span>
            <label class="switch">
              <input type="checkbox" [(ngModel)]="isByTime" [value]="isByTime">
              <span class="slider round" ></span>
            </label>
          </span>
          Move by Time (24h)
          <button (click)="GoAfter()"><i class="fa fa-arrow-right fa-2" aria-hidden="true"></i></button>
        </td> 
      </tr>
      <tr>
        <td>Event</td>
        <td *ngFor="let event of eventFrames">{{event.Name}}</td>
      </tr>
      <tr>
        <td>StartTime</td>
        <td *ngFor="let time of lst_range">{{time.StartTime}}</td>
      </tr>
      <tr>
          <td>EndTime</td>
          <td *ngFor="let time of lst_range">{{time.EndTime}}</td>
        </tr>
      <tr *ngFor="let attr of lst_attribute_to_display">
        <td>{{attr.Name}}</td>
        <td *ngFor="let val of attr.Values; trackBy: trackByFn">
            <span *ngIf="attr.IsManualDataEntry">
              <input type="text" [(ngModel)]="val.Value" [value]="val.Value" (keyup.enter)="SaveAttributeValue(val)"/>{{val.UnitsAbbreviation}}
            </span>
            <span *ngIf="!attr.IsManualDataEntry">
              {{val.Value}} {{val.UnitsAbbreviation}}
            </span>
        </td>
      </tr>

    </table>
</div>