<!--
  © 2018 Synergistic Manufacturing Solutions inc All Rights Reserved. 
  This software was designed and developed by Synergistic Manufacturing Solutions inc 
  for the purpose of the purpose of the OSI Soft Hackathon of 2018. 
-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="view" #view [style.background]="bkColor" [style.color]="fgColor">
  
  <nav class="header-nav" [style.width.px]="currentViewWidth">
    <div>
      <span class="time-navigation">
        <span>{{element_ef}}</span>
        <span [attr.colspan]="eventFrames.length">
          
          <i (click)="GoBefore()" class="fa fa-arrow-left fa-2" aria-hidden="true"></i>
          Move by 3 events
          <span>
            <label class="switch">
              <input type="checkbox" [(ngModel)]="isByTime" [value]="isByTime">
              <span class="slider round" ></span>
            </label>
          </span>
          Move by Time (24h)
          <i (click)="GoAfter()" class="fa fa-arrow-right fa-2" aria-hidden="true"></i>
        </span> 
      </span>

      <span (click)="ActivateStar()" class="origin-star" title="Go To Today">
        <span *ngIf="isStarActivate"><i class="fa fa-star fa-3 faa-pulse faa-slow" [style.color]="starColor"></i></span>
        <span *ngIf="!isStarActivate"><i class="fa fa-star-o fa-3 faa-pulse faa-slow" [style.color]="starColor"></i></span>
      </span>
    </div>
  </nav>

  <table class="fixed table table-striped table-bordered dt-responsive nowrap first-col">
    <tr>
      <td>Event</td>
    </tr>
    <tr>
      <td>StartTime</td>
    </tr>
    <tr>
        <td>EndTime</td>
      </tr>
    <tr *ngFor="let attr of lst_attribute_to_display">
      <td>{{attr.Name}}</td>
    </tr>
  </table>

  <div class="other-col" [style.width.px]="widthOfSecondColumn">
    <table  class="fixed table table-striped table-bordered dt-responsive nowrap fontSize15" >
      <tr>
        <td *ngFor="let event of eventFrames" [attr.bgcolor]="GetColorOfEventFrame(event)">{{event.Name}}</td>
      </tr>
      <tr>
        <td *ngFor="let time of lst_range" >{{time.StartTime}}</td>
      </tr>
      <tr>
        <td *ngFor="let time of lst_range" >{{time.EndTime}}</td>
      </tr>
      <tr *ngFor="let attr of lst_attribute_to_display">
        
        <td *ngFor="let val of attr.Values; trackBy: trackByFn" [style.color]="ColorTextIfLimits(val)"  [title]="(HasLimits(val))? 'Limits : ' + val.Limits.Low + ' to ' + val.Limits.High : ''">

          <div *ngIf="!attr.HasReason">
            
            <span *ngIf="attr.IsManualDataEntry">
              <span *ngIf="attr.IsEnum">
                  <select [(ngModel)]="val.Value" (change)="SaveAttributeValue(val)">
                    <option *ngFor="let e of attr.Enums" [value]="e.Value" [selected]="val.Value===e.Value">{{e.Name}}</option>
                  </select>
              </span>

              <span *ngIf="!attr.IsEnum">
                  <input type="text" [(ngModel)]="val.Value" [value]="val.Value" (keyup.enter)="SaveAttributeValue(val)"/>{{val.UnitsAbbreviation}}
              </span>
            </span>

            <span *ngIf="!attr.IsManualDataEntry" [style.color]="ColorTextIfLimits(val)">
              {{ (val.Name === '')? val.Value + ' ' + val.UnitsAbbreviation : val.Name}}
            </span>
          </div>

          <div *ngIf="attr.HasReason" (dblclick)="OpenReasonTree(val)" class="attribute-reason">
              {{val.Name}}
          </div>
        </td>
      </tr>
  
    </table>
  </div>


  <div *ngIf="isTreeReasonOpen" class="reasonTree">
    <reason-tree (askToClose)="CloseReasonTree($event)" [attribute]="attributeForTreeReason" [urlPiWebApi]="urlPiWebApi"></reason-tree>
  </div>

</div>