<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  
  <div class="view" #view [ngClass]="scrollState">
    <!-- <div class="events" [style.background]="bkColor" #eventsDiv [style.width]="minControlWidth" [ngStyle]="widthControl"  > -->
    <div class="events" [style.background]="bkColor" #eventsDiv [ngStyle]="widthControl" >
      <!-- <div *ngFor="let event of elementAndFrameList" class="event-row" > -->
      <div *ngFor="let item of element_ef">
        <div class="info"> {{item.elementName}} / {{item.eventTypeName}} <i (onclick)="openHamMenu" class="fa fa-bars fa-lg"></i> </div>
        <div class="event-row" *ngIf="item.eventframes?.length > 0">
          <div *ngFor="let val of item.eventframes;" class="event card" [style.width.px]="val.width" [style.min-width.px]="minimumEventPixelWidth" [class.in-progress]="inProgress"  
            id="{{ val.Id }}"
            [style.background]="(IsBlank(val))? '#fff' : item.Color"
            [style.height]="eventHeight"
            [style.color]="getColorByBgColor(item.Color)">
    
            <div class="row-1" *ngIf="!IsBlank(val)">
              <div></div>
              <div>{{ val.slot1 }}</div>
            </div>
            <div class="row-2" *ngIf="!IsBlank(val)">
              <div></div>
              <div></div>
            </div>
            <div class="row-3" *ngIf="!IsBlank(val)">
              <div></div>
              <div></div>
            </div>
          </div>
          <span *ngIf="eventFrames?.length === 0">
            No event frames in selected timeframe
          </span>
        </div>
        <br/>
      </div>
    </div>
  </div>