<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  
  <div class="events">
    <div class="primary-event" >
      <div *ngFor="let val of values; index as i" class="event card" [style.background]="lineColor">
        <div class="row-1">
          <div>row 1 col 1</div>
          <div> row 2 col 2</div>
        </div>
        <div class="row-2">
          <div>row 2 col 1</div>
          <div>row 2 col 2</div>
        </div>
        <div class="row-3">
          <div>row 3 col 1</div>
          <div> row 3 col 2</div>
        </div>
      </div>
    </div>
  </div>