
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...}  */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}  */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */


@media only screen and (min-width:768px){
  .event-row{
    /* color: #58a3b6 */
    /* align-items: flex-start;
    display:flex; */
    /* background: red; */
  }
}

.view{
  width: 100%;
  height: 100%;
}

.events {
  font-size: 12pt;
  /* overflow: auto; */
  padding: 10px;
  margin: 0 5px 0 0;
  width: 100%;
  height: 100%;
  background: url(../assets/images/polka-dots.png)
}

.event-row{
  display:flex;
  margin-top: 55px;
  min-height: 110px;
  /* flex-wrap:nowrap; */
}

.event{
  /* display:table; */
  border-radius: 3px;
  overflow: hidden;
  height: 100px;
  padding:3px;
  text-align: right;
  border-width: 3px;
}            

.row-1, .row-2, .row-3{
  display: flex;
}

.row-1 div, .row-2 div, .row-3 div{
  flex-basis: 100%;
  text-align: left;
  font-size: 15px;
}

.row-0{
  display: flex;
}

.row-0 div{
  flex-basis: 100%;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

.header-nav{
  position: fixed;
  height: 34px;
  left: 2px;
  top: 35px;
  margin-top: -36px;
  padding-top: 5px;
  background: hsla(189, 63%, 25%, 0.74);
  display: block;
  font-size: 17px;
  z-index: 600;
  border-radius: 3px;
}

.info{
  position: fixed;
  height: 34px;
  left: 2px;
  margin-top: -36px;
  padding-top: 13px;
  background: hsla(155, 93%, 35%, 0.7);
  display: block;
  flex-basis: 100%;
  font-size: 17px;
  z-index: 100;
  border-radius: 3px;
  padding: 3px;
}

.first {
  height: 31px;
  top: 70px;
}

.scroll-on{
  overflow-x: auto;
}

.scroll-off{
  overflow-x: hidden;
}



/* .hamburger:active{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
} */

.header-adjust {
  float: right; 
  margin-right: 10px;
}

/* Dropdown styling */
.show-menu{
  visibility: visible;
}

.hide-menu{
  visibility: hidden;
}

.dropdown-content {
  position: absolute;
  float: right;
  margin-top: 6px;
  right: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 9999;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: alias;
}

.dropdown-content li {
  list-style-type: none;
}




/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}



