
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...}  */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}  */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */


@media only screen and (min-width:768px){
  .event-row{
    /* color: #58a3b6 */
    /* align-items: flex-start;
    display:flex; */
    /* background: red; */
  }
}

.event-row{
  display:flex;
  margin-top: 20px;
  max-height: 100px;
  /* flex-wrap:nowrap; */
}

.event-row div{
  /* flex-basis:100px; */
  /* background:rgba(64, 73, 202, 0.781); */
  /* flex-basis: 150px; */
}

/* :host {
  display: inline-block;
} */

/* .items, .top, :host {
  width: 100%;
  height: 100%;
} */

.events {
  font-size: 12pt;
  /* overflow: auto; */
  padding: 10px;
  margin: 0 5px 0 0;
  width: 100%;
  height: 100%;
  background: url(../assets/images/polka-dots.png)
}

.event{
  /* display:table; */
  border-radius: 3px;
  overflow: hidden;
  height: 100px;
  padding:3px;
  text-align: right;
}            

.row-1, .row-2, .row-3{
  display: flex;
}

.row-1 div, .row-2 div, .row-3 div{
  flex-basis: 100%;
  font-size: 10px;
}

.row-0{
  display: flex;
}

.row-0 div{
  flex-basis: 100%;
  font-size: 12px;
  font-weight: bold;
}

.info{
  position: fixed;
  height: 34px;
  left: 2px;
  margin-top: -36px;
  padding-top: 13px;
  background: hsla(155, 93%, 35%, 0.7);
  display: block;
  flex-basis: 100%;
  font-size: 17px;
  z-index: 9999;
  border-radius: 3px;
  padding: 3px;
}

.first {
  height: 31px;
  top: 35px;
}

.scroll-on{
  overflow-x: auto;
}

.scroll-off{
  overflow-x: hidden;
}

.view{
  width: 100%;
  height: 100%;
}

.attr-lists{
  position: fixed;
  right: 0px;
  z-index: 999;
  border-radius: 3px;
  overflow: auto;
  height: 100px;
  padding:3px;
  text-align: right;
}

.hamburger:active{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
}

/* Dropdown styling */
.show-menu{
  visibility: visible;
}

.hide-menu{
  visibility: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}




