
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...}  */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}  */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */


@media only screen and (min-width:768px){
  .event-row{
    /* color: #58a3b6 */
    /* align-items: flex-start;
    display:flex; */
    /* background: red; */
  }
}

.view{
  width: 100%;
  height: 100%;
  direction: rtl;
}

.events {
  font-size: 12pt;
  /* overflow: auto; */
  padding: 9px 0 0 2px;
  margin: 0 5px 0 0;
  width: 100%;
  height: 100%;
  direction: ltr;
  background: transparent;
}

.event-row{
  display: flex;
  margin-top: 74px;
  min-height: 100px;
  margin-bottom: -37px;
}

.event{
  /* display:table; */
  position: relative;
  border-radius: 3px;
  overflow: visible;
  padding:3px;
  text-align: right;
  border-width: 3px;
  margin-right: 3px;
}            

.row-1, .row-2, .row-3, .row-4, .row-5{
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
}

.row-1 div, .row-2 div, .row-3 div, .row-4 div, .row-5 div{
  flex-basis: 100%;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
  width: inherit;
}

.row-0{
  display: flex;
}

.row-0 div{
  flex-basis: 100%;
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}



.info{
  position: fixed;
  height: 34px;
  left: 0px;
  margin-top: -36px;
  padding-top: 13px;
  background: hsla(155, 93%, 35%, 0.7);
  display: block;
  flex-basis: 100%;
  font-size: 17px;
  z-index: 100;
  border-radius: 3px;
  padding: 3px;
}

.first {
  height: 31px;
  top: 87px;
}

.scroll-on{
  overflow-x: auto;
}

.scroll-off{
  overflow-x: hidden;
}



/* .hamburger:active{
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
} */

.header-adjust {
  float: right; 
  margin-right: 10px;
}

/* Dropdown styling */
.show-menu{
  visibility: visible;
}

.hide-menu{
  visibility: hidden;
}

.dropdown-content {
  position: absolute;
  float: right;
  margin-top: 6px;
  right: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 9999;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor: alias;
}

.dropdown-content li {
  list-style-type: none;
}

/* custom Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  z-index: 1;
}

.event .tooltiptext {
  visibility: hidden;
  /* width: 270px; */
  width: max-content;
  background-color: black;
  color: white;
  opacity: .877;
  text-align: center;
  border-radius: 6px;
  padding: 5px 12px;
  /* text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15); */

  /* Position the tooltip */
  /* top:100%; */
  position: absolute;
  z-index: 999999;
  pointer-events: none;
}

/*.event .tooltiptext::after{
  content: " ";
  position: absolute;
  bottom: 100%;  
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}*/

.event:hover .tooltiptext {
  visibility: visible;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  vertical-align: middle;
  margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Top Navigation */
.header-nav{
  position: fixed;
  height: 51px;
  left: 0px;
  top: 30px;
  margin-top: -30px;
  padding-top: 12px;
  background: #3f4244;
  color: white;
  display: block;
  font-size: 20px;
  z-index: 600;
  border-radius: 3px;
  text-align: center;
}

.fa-star, .fa-star-o, .fa-arrow-right, .fa-arrow-left{
  cursor: pointer;
}

.origin-star{
  float: right;
  padding-right: 15px;
}

.time-navigation{
  float:left;
  padding-left: 15px;
}

.EFZoomPopUp{
  direction: ltr;
  position: absolute;
  left: 200px;
  top: 200px;
  z-index: 99999999;
}